<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serverphone.healthyfoods" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".HealthyFoods"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Menus"
            android:label="@string/title_activity_menus"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InstantOrderVeg"
            android:label="@string/title_activity_instant_order_veg"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InstantOrderNveg"
            android:label="@string/title_activity_instant_order_nveg"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Catering"
            android:label="@string/title_activity_catering"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AlaCarte"
            android:label="@string/title_activity_ala_carte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Menu1"
            android:label="@string/title_activity_menu1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Confirm"
            android:label="@string/title_activity_confirm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ConfirmAlacarte"
            android:label="@string/title_activity_confirm_alacarte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeliveryAddress"
            android:label="@string/title_activity_delivery_address"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
